/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* commons */
h1 {
  margin: 20px 0;
}

/* layout */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.col {
  width: calc(100% / 3);
  padding: 5px;
}

/* products */
.product {
  padding-bottom: 20px;
}
